<!DOCTYPE html>
<html>
  <head>
    <title>Asynchronous Loading</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script>
		function initialize() {
		  var mapOptions = {
		    zoom: 4,
		    center: new google.maps.LatLng(37.2199, -80.4187)
		  };

		  var map = new google.maps.Map(document.getElementById('map-canvas'),
		      mapOptions);
		}

		function loadScript() {
		  var script = document.createElement('script');
		  script.type = 'text/javascript';
		  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
		      'callback=initialize';
		  document.body.appendChild(script);
		}

		window.onload = loadScript;

		function placeMarker(location) {
		  var marker = new google.maps.Marker({
		      position: location, 
		      map: map
		  });


		  map.setCenter(location);


		// Display Pin Ajax get Request
		  $.ajax({
		     url: 'index.erb',
		     data: location,
		     succes: function(){
		       alert('marker was added');
		     },
		     error: function(){
		       alert('marker wasn\'t added');
		       marker.setMap(null);
		     }
  		});

		// Create Pin Ajax post request
		google.maps.event.addListener(map, 'click', function(event) {
	  		$.ajax({
	  			type: "POST",
	  			url: "index.erb", 
	  			data: location
	  		})	
		});  
}

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
